# Ignore build
obj/*
# Ignore executables
bin/*
# Ignore build
*/obj/*
# Ignore executables
*/bin/*
# VSCode configurations
.vscode
# Ignore Mac specific files
.DS_Store
# test files
test/*
# o files
*.o
# d files
*.d